@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

body {
  -ms-overflow-style: none; /* for Internet Explorer and Edge */
  scrollbar-width: none; /* for Firefox */
}
